.add-todo{
  display:flex;
  flex-direction: row;
  width:100%;
}
.add-todo >  input{
  width:80%;
  padding:10px 0;
}
.add-todo > button{
  width:20%;
  padding:10px 0;
  word-break: break-word;
  cursor:pointer;
}