$background_color: #aaa;
$todolist_color:#ddd;
html{
  background-color:$background_color;
}
.app{
  background-color:$todolist_color;
  margin:auto;
  max-width: 800px;
  display:flex;
  flex-direction: column;
  border: 1px solid black;
}
