.todo{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor:pointer;
}
.todo > p{
  padding:0;
  margin: 10px auto 10px 10px;
  word-break: break-word;
  overflow: auto;
}
.todo > pre{
  margin: 10px 0 10px 15px;
  max-width: 40%;
  color:grey;
  white-space: pre-wrap;
  word-break: break-word;
}
.todo > img{
  margin: 10px;
  height:30px;
  width:auto;
  cursor:pointer;
}
.remove-todo{
  width:40px;
  border: 1px solid black;
  padding:0;
}