.todo{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor:pointer;
}
.todo > p{
  padding:0;
  margin-left:10px;
  margin-right:auto;
  word-break: break-all;
  overflow: auto;
}
.todo > pre{
  margin-left:15px;
  color:grey;
}
.todo > img{
  margin: 10px;
  height:30px;
  width:auto;
  cursor:pointer;
}
.remove-todo{
  width:40px;
  border: 1px solid black;
  padding:0;
}