.todo{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: "p img" "pre img";
  cursor:pointer;
}
.todo > p{
  grid-area: p;
  margin:5px;
  word-break: break-word;
  overflow: auto;
}
.todo > pre{
  grid-area: pre;
  margin:5px;
  color:grey;
  white-space: pre-wrap;
  word-break: break-word;
}
.todo > img{
  grid-area: img;
  user-select: none;
  align-self: start;
  height:30px;
  margin:5px;
  width:auto;
  cursor:pointer;
}
.remove-todo{
  width:40px;
  border: 1px solid black;
  padding:0;
}